<div id="search-box">
	<div class="container">
		<h1>Search restaurants</h1>

		<div>
			{{#form "/search" class="form" method="get"}} 
				<div class="input-group">
					{{input "postCode" searchInputValue class="form-control" 
							 onblur="if (this.value == '') {this.value = 'Postcode';}"
							 onfocus="if (this.value == 'Postcode') {this.value = '';}"}}
					<span class="input-group-btn">
						{{submit "search" "Search" class="btn btn-default"}}
					</span>
				</div><!-- /input-group -->
			{{/form}}
		</div>
	</div>
</div>

<div id="search-results" class="container">

	{{#if shortResultText}}
		<h2>
			Results for {{shortResultText}}
		</h2>
	{{/if}}

	{{#if restaurants}}
		<ol class="restaurants">
		{{#restaurants}}
			<li class="row restaurant 
						{{#if isOpenNow}}is-open-now{{else}}is-not-open-now{{/if}}">

				{{#logo}}
					<div class="col-lg-1 col-xs-3">
						<img src="{{standardResolutionUrl}}" class="img-responsive" alt="{{name}}">
					</div>
				{{/logo}}

				<div class="col-lg-11  col-xs-9">
					<a href="{{url}}" target="_blank" class="name">
						{{name}}
						{{#unless isOpenNow}}
							<span class="text-danger">(Closed)</span>
						{{/unless}}
					</a>


					<div class="address">{{address}}, {{postcode}}</div>

					<dl class="">
					  <dt>Rating:</dt>
					  <dd>{{ratingStars}} <span class="text-info">({{numberOfRatings}})</span></dd>
					  <dt>Cousine Types:</dt>
					  <dd>
						<ul class="cousine-types">
						{{#cuisineTypes}}
							<li class="cousine-type">{{name}}</li>
						{{/cuisineTypes}}
						</ul>
					  </dd>
					</dl>
				</div>
			</li>
		{{/restaurants}}
		</ol>
	{{/if}}

	{{#if errorMessage}}
		<div id="search-empty-results" class="text-info">
			{{errorMessage}}
		</div>
	{{/if}}
</div>


